<%- include('../partials/header') %>

<main class="viewBody">
    <section class="userInfo">
        <img src="<%= user.avatar %>" alt="Profile Picture" class="circle responsive-img">
        <h1><%= user.name%></h1>

        <%if (user.contests) {user.contests.forEach(contest => {%>

        <%})};%>

    </section>

    <%if (user.authorizationKey) { %>
    <a href="#">Propose a new contest</a>

    <label for="Contests">Remove a user:</label>
    <select name="Contests">
        <%user.forEach(cont => {%>
        <option value="<%= cont.name%>"><%= cont.name%></option>
        <%});%>
    </select><br><br>
    

    <%}else{%>
    <form id="new-form" action="/users" method="POST">
        <label for="Contests">Register for a contest:</label>
        <select name="Contests">
            <%contest.forEach(cont => {%>
            <option value="<%= cont.name%>"><%= cont.name%></option>
            <%});%>
        </select><br><br>
        <label for="Contests">Choose a division</label>
        <select name="Contests">
            <%contest.forEach(cont => {%>
            <option value="<%= cont.name%>"><%= cont.name%></option>
            <%});%>
        </select><br><br>
        <input type="submit" value="join contest">
    </form>
    <%}%>
<%- include('../partials/footer') %>